body {
    font-family: 'Poppins', sans-serif;
    color: #1A1A1A;
}

/* Backgrounds & Text */
.bg-success-light { 
    background-color: rgba(0, 178, 7, 0.1) !important; }
.bg-danger-light { 
    background-color: rgba(234, 75, 72, 0.1) !important;
 }
.text-success { 
    color: #00B207 !important; 
}
.bg-success { 
    background-color: #00B207 !important;
 }
.btn-success { 
    background-color: #00B207; 
    border-color: #00B207;
 }
.btn-success:hover {
     background-color: #009906; 
     border-color: #009906; 
    }
.btn-dark { 
    background-color: #333333;
     border-color: #333333;
     }
.text-danger { 
    color: #EA4B48 !important; 
}

/* Breadcrumb */
.breadcrumb-banner {
    background: url('assets/bg-breadcrumb.jpg') center/cover no-repeat;
    min-height: 100px;
}

.font-sm { 
    font-size: 0.85rem; 
}
.hover-success:hover { 
    color: #00B207 !important; 
    transition: 0.3s;
 }

 